.root {
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-style-color:#000000;
    --accent-color-logo:#FFFFFF;
}




.body {
    color: #212121;
    background-color:#F5F5F5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #2F303A */

ul {
    list-style: none;
}

/* header-nav*/

.logo {
    color:var(--logo-style-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;;
    text-decoration: none;
}

.web {
    color:#2196F3;
}
.studio {
    color:#000000;
}

.logo-style {
    color:var(--logo-style-color);
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Site nav */

.site-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-studio {
    color: #2196F3;
    text-decoration: none;
}

.link-studio:hover,
.link-studio:focus {
    color:#2196F3;
}


.link-portfolio {
    color: #212121;
    text-decoration: none;
}

/* Contacts-nav */

.contacts-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-email {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.link-email:hover,
.link-email:focus {
   background-color:#2196F3;
}

.link-tel {
    font-style: normal;
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-tel:hover,
.link-tel:focus {
    color: #757575;
}

/* Service */

.service {
    background-color: #2F303A;
}

.headline {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button-active {
    color:#FFFFFF;
    background-color:#2196F3;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
}

.button-active:hover,
.button-active:focus {
    color:#FFFFFF;
    background-color:#2196F3;
}

/* advantage-list */

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:  #212121;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    color: #757575;
}

/* responsibilities */

.topic {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    color: #212121;
}


/* team */

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    color: #212121;
}

.employee {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-position {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    color: #757575;
}

/* page-footer */

.page-footer {
    background-color: #2F303A;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: #2196F3;
}

.studio-footer {
    color: #FFFFFF;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-adress-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link-adress-footer:hover,
.link-adress-footer:focus {
    color: #FFFFFF;
}

.link-email-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-email-footer:hover,
.link-email-footer:focus {
    color:rgba(255, 255, 255, 0.6);
}




.link-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);   
}

.link-tel-footer:hover,
.link-tel-footer:focus {
    color:rgba(255, 255, 255, 0.6);   
}



/* Portfolio */

.root {
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-style-color:#000000;
    --accent-color-logo:#FFFFFF;
}

.body {
    color: #212121;
   background-color:#F5F5F5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста color: rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #2F303A */

ul {
    list-style: none;
}

/* header-nav*/

.logo {
    color:var(--logo-style-color);
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;;
    text-decoration: none;
}

.web {
    color:#2196F3;
}
.studio {
    color:#000000;
}

.logo-style {
    color:var(--logo-style-color);
    font-family:Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

/* Site nav */

.site-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav.link-portf:hover,
.site-nav-link-portf:focus {
    color:#2196F3;
}
 
.link-stud {
    color:#212121;
    text-decoration: none;
}

.link-stud:hover,
.link-stud:focus {
    color:#212121;
}

.link-portf {
    color: #2196F3;
    text-decoration: none;
}

.link-portf:hover,
.link-portf:focus {
    color: #2196F3;
}


/* Contacts-nav */

.contacts-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-email {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.link-email:hover,
.link-email:focus {
    color: #2196F3;
}

.link-tel {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-tel:hover,
.link-tel:focus {
    color: #757575;
}

/* button navigation */
.button-primary {
    font-style: normal;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
}

.button-nav.button-primary:hover,
.button-nav.button-primary:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.button-secondary {
    font-style: normal;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
}

.button-nav.button-secondary:hover,
.button-nav.button-secondary:focus {
    background-color: #F5F4FA;
}

/* portfolio-nav */
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.section-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    color: #757575;
}


/* page-footer */

.page-footer {
    background-color: #2F303A;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: #2196F3;
}

.studio-footer {
    color: #FFFFFF;
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-adress-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.link-adress-footer:hover,
.link-adress-footer:focus {
    color: #FFFFFF;
}

.link-email-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-email-footer:hover,
.link-email-footer:focus {
    color: rgba(255, 255, 255, 0.6);
}

.link-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-tel-footer:hover,
.link-tel-footer:focus {
    color: rgba(255, 255, 255, 0.6);
}